@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;        /* inherit font properties */
  color: inherit;       /* inherit text/icon color */
  cursor: pointer;
}

body,
html {
  height: 100%;
  /* overscroll-behavior: none; */
}

body {
  font-family: Roboto, sans-serif;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
}

/* HEADER */

.header {
  padding: 15px 70px 15px 50px;
  box-shadow: 0px 1px 5px rgb(180, 180, 180);
  position: relative;
  font-weight: 700;
}

/* top half */

.top-head {
  display: flex;
  font-size: 1.1rem;
  gap: 25px;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

.th-left,
.th-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.th-left {
  flex: 1;
}

.icon-head {
  fill: currentColor;
  width: 1.2em;
  height: 1.2em;
  flex-shrink: 0;
}

.search {
  flex: 0 1 500px;
  min-width: 200px;
  background-color: #e2e8f0;
  height: 1.5em;
  border-radius: 20px;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
  height: 50px;
}

/* bottom half */

.bot-head {
  margin-top: 20px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.bh-left,
.bh-right {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  align-items: center;
}

.bh-left {
  grid-template-columns: 70px;
}

.big-avatar {
  border-radius: 50%;
  object-fit: cover;
  height: 70px;
}

.big-name {
  font-size: 1.5rem;
  margin-top: 5px;
}

.prof-ops {
  background-color: #1a92d5;
  color: white;
  font-weight: 500;
  border-radius: 20px;
  width: 100px;
  padding: 10px 20px;
}


/* SIDEBAR */

.sidebar {
  background-color: #1a92d5;
  color: white;
  padding: 15px;
  grid-row: 1 / 3;
  display: grid;
  align-content: start;
  gap: 70px;
  z-index: 1;
  font-weight: 500;
}

ul {
  list-style: none;
  padding: 0;
}

.logo {
  font-size: 1.6rem;
}

.nav.top,
.nav.bot {
  font-size: 1.4rem;
  margin: 0 10px;
}

.nav li:not(:last-child) {
  margin-bottom: 20px;
}

.logo,
.nav li {
  display: flex;
  align-items: center;
}

.icon-logo {
  fill: currentColor;
  width: 1.5em;
  height: 1.5em;
  margin-right: 15px;
}

.icon-side {
  fill: currentColor;
  width: 1em;
  height: 1em;
  margin-right: 25px;
}

/* CONTENT */

.content {
  background-color: #e2e8f0;
}
